.search-wrapper {
  .filter-search {
    padding: 10px;
    display: flex;
    max-width: 600px;
    .right {
      display: flex;
      margin-left: auto;
      .filter {
        display: flex;
        align-content: center;
        align-self: center;
        /* box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); */
        padding: 4px 14px;
        border: 1px solid #eee;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
        color: #21315e;
        img {
          width: 32px;
        }
        span {
          align-self: center;
        }
      }
    }
    .left {
      display: flex;
      align-items: center;
      width: 100%;
      .search-input {
        width: 100%;
      }
      input {
        width: 78%;
        border: 1px solid #eee;
        border-right: none;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        outline: none;
        padding: 12px;
      }
      button {
        padding: 11px 20px 13px;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
        transition: 0.5s all;
        border-left: 0;
        width: 14%;
        i {
          font-size: 1.2em;
        }
      }
    }
  }
  .adv {
    padding: 0px 10px;
  }
  .selected-filters {
    padding: 0 10px;
    .selected-item {
      display: inline-flex;
      flex-wrap: wrap;
      .item {
        padding: 5px 10px;
        background: #8bc34a;
        margin: 10px 10px 10px 0;
        border-radius: 16px;
        color: #fff;
        font-size: 15px;
        transition: 0.4s all;
        .action {
          padding: 0 0 0 10px;
          cursor: pointer;
          font-size: 12px;
          color: #eee;
        }
        &:hover {
          background: #72ad2e;
        }
      }
    }
  }
  .filters {
    .dropdown{
      display: inline-block;
      min-width: 200px;
    }
    .filters-input {
      display: inline-block;
      input,
      button,
      select {
        padding: 8px 5px;
        margin: 0px 5px;
        border-radius: 4px;
        background: #fff;
        border: solid 1px #eee;
      }
    }
    .filter-name {
      font-weight: bold;
      margin-bottom: 10px;
    }
    padding: 10px;
    display: flex;
    .filter-item {
      margin-right: 25px;
    }
    .filter-items {
      .i {
        display: block;
        margin-bottom: 10px;
        label {
          font-size: 15px;
          input {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
