@import "../../variables.scss";
.org-actions {}

h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    margin: 10px 0 10px 8px;
    text-align: left;
    color: $dark-blue;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    margin: 18px 0px 10px 8px;
    text-align: left;
    color: $dark-blue;
}

.inline-tr {
    display: flex;
    margin-bottom: 10px;
    .note {
        width: 100%;
    }
    .save-btn {
        margin-left: auto;
    }
    img {
        width: 50px;
    }
    input {
        margin: 0 10px;
        padding: 8px;
    }
}

.org-logo {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px $silver-dark;
    margin: 10px;
    height: 100px;
    box-shadow: 3px 3px 8px 2px $silver-dark;
    border-radius: 10px;
    background: $silver;
    text-align: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.description {
    padding: 8px 0px 10px 8px;
}

.icon-drop-round {
    width: 45px;
    float: right;
    border-radius: 50px;
    margin-left: 20px;
    .dropdown-button {
        min-height: 30px;
        border-radius: 50%;
        background: $silver;
        border: solid 1px $silver-dark;
        display: flex;
        justify-content: center;
        .dropdown-button-indicator {
            display: none;
        }
        .dropdown-single-arrow {}
    }
}