@import "../../variables.scss";
button {
    &.custom-btn {
        margin: 0px 8px;
        padding: 12px 15px;
        border: solid 1px #e7e7e7;
        border-radius: 7px;
        outline: none;
        cursor: pointer;
        color: $dark-blue;
        font-weight: bold;
        transition: .5s all;
        background: transparent;
    }
    &:hover {
        background: #e0e0e0;
    }
}