@import "../variables.scss";
.landing-page {
    .login-wrapper {
        max-width: 767px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 0 18px 2px #efefef;
        border-radius: 30px;
        .lw-section {
            width: 100%;
            display: flex;
            .hidden {
                display: none;
            }
            .landing-page-logo {
                max-width: 200px;
                margin: 0px auto;
                display: block;
            }
            form {
                display: flex;
                flex-direction: column;
                padding: 0px 40px 40px;
                width: 50%;
                .form-field {
                    margin-bottom: 20px;
                    flex-direction: column;
                    display: flex;
                    label {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: $dark-blue;
                    }
                    input {
                        border: 0;
                        border-bottom: 1px solid #ccc;
                        margin-bottom: 8px;
                        padding: 5px;
                        font-size: 14px;
                        outline: none;
                        color: $dark-font;
                    }
                }
                button[type=submit] {
                    background: $light-blue;
                    border: 1px solid $light-blue-border;
                    color: $theme-color;
                    border-radius: 20px;
                    padding: 10px;
                    width: 100%;
                    cursor: pointer;
                    margin-top: 30px;
                    transition: $default-transition;
                }
                button[type=submit]:hover {
                    background: $dark-blue;
                    color: $light-blue;
                }
                .change-mode {
                    color: $dark-blue;
                    text-decoration: underline;
                    text-align: center;
                    cursor: pointer;
                    margin-top: 25px;
                }
            }
            .login-media {
                background: $light-blue;
                width: 50%;
                padding: 40px 40px;
                border-top-right-radius: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .lm-image-wrapper {
                    background: #fff;
                    border-radius: 50%;
                    width: 250px;
                    height: 230px;
                    margin: 0px auto;
                    display: flex;
                    img {
                        max-width: 250px;
                        display: block;
                        margin: 0px auto;
                    }
                }
                p {
                    color: $theme-color;
                    font-size: 14px;
                    margin-top: 25px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}

.landing-page:before {
    content: '';
    background-image: url('./../../assets/login-bg-1.png');
    position: fixed;
    height: 200px;
    width: 200px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    top: -35px;
    left: -20px;
}

.landing-page:after {
    content: '';
    background-image: url('./../../assets/login-bg-2.png');
    position: fixed;
    height: 200px;
    width: 200px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -35px;
    right: -40px;
}