@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.page {
    position: relative;
    z-index: 0;
    height: 93vh;
    background: #fff;
    overflow: none;
}

#root {
    width: 100%;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

.capitalize {
    text-transform: capitalize;
}

.btn {
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #00BCD4;
    color: #fff;
    transition: .4s all;
}

.btn-primary {
    background-color: #00BCD4;
}

.btn-primary:hover {
    background-color: #07a9be;
}

.btn-success {
    background-color: #8bc34a;
}

.btn-success:hover {
    background-color: #4caf50;
}

.btn-transparent {
    background: transparent;
    color: #333;
    border: 0;
}

.margin-auto {
    margin: 0px auto !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.form-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 8px;
}

input,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 8px;
}

.pagination {
    display: flex;
    width: 100%;
    list-style: none;
    /* background: #f6faff; */
    padding: 10px;
    li {
        a {
            padding: 8px 15px;
            text-decoration: none;
            border: solid 1px #d8dce0;
            color: #666;
            height: 20px;
            align-items: center;
            display: flex;
        }
        &.active {
            a {
                color: #21315e;
            }
        }
         :hover {
            background-color: #eee;
        }
    }
    li:first-child {
        a {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
    li:last-child {
        a {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    li.disabled {
        a {
            color: #ccc;
            cursor: not-allowed;
        }
         :hover {
            background-color: transparent;
        }
    }
}